1. Data Loading

In [3]:
# read csv files
import pandas as pd
df = pd.read_csv(r"A:\Code\PY\DSc\datasets\TBD\airbnb.csv")

2. Data Inspection

In [7]:
# Display Top Rows
df.head()

,id,name,host_id,host_name,neighbourhood group,neighbourhood,latitude,longitude,room type,price,minimum nights,number_of_reviews,last review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9,10/19/2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45,5/21/2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270,7/5/2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9,11/19/2018,0.10,1,0

In [16]:
# Display Bottom Rows
df.tail()

,id,name,host_id,host_name,neighbourhood group,neighbourhood,latitude,longitude,room type,price,minimum nights,number_of_reviews,last review,reviews_per_month,calculated_host_listings_count,availability_365
48895,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70.0,2.0,0,NaN,NaN,2,9
48896,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40.0,4.0,0,NaN,NaN,2,36
48897,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115.0,10.0,0,NaN,NaN,1,27
48898,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55.0,1.0,0,NaN,NaN,6,2
48899,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90.0,7.0,0,NaN,NaN,1,23

In [19]:
# Display Data Types
# df.dtypes() # for series

In [20]:
# Summary Stats
df.describe()

,id,host_id,latitude,longitude,price,minimum nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.890000e+04,4.890000e+04,48900.000000,48900.000000,48900.000000,48900.000000,48900.000000,38848.000000,48900.000000,48900.000000
mean,1.901520e+07,6.761310e+07,40.728949,-73.952172,152.720545,7.032199,23.279693,1.373126,7.143374,112.783742
std,1.098423e+07,7.860992e+07,0.054529,0.046155,240.142698,20.513749,44.555777,1.680367,32.950889,131.626347
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.470353e+06,7.812758e+06,40.690100,-73.983072,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967620e+07,3.079058e+07,40.723075,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915173e+07,1.074344e+08,40.763112,-73.936280,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [21]:
df.describe(include=['object'])

,name,host_name,neighbourhood group,neighbourhood,room type,last review
count,48884,48879,48900,48900,48900,38848
unique,47883,11452,6,221,3,1764
top,Hillside Hotel,Michael,Manhattan,Williamsburg,Entire home/apt,6/23/2019
freq,18,417,21664,3920,25413,1413

In [22]:
# Display Index, Columns, and Data: df.info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48900 entries, 0 to 48899
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48900 non-null  int64
 1   name                            48884 non-null  object
 2   host_id                         48900 non-null  int64
 3   host_name                       48879 non-null  object
 4   neighbourhood group             48900 non-null  object
 5   neighbourhood                   48900 non-null  object
 6   latitude                        48900 non-null  float64
 7   longitude                       48900 non-null  float64
 8   room type                       48900 non-null  object
 9   price                           48900 non-null  float64
 10  minimum nights                  48900 non-null  float64
 11  number_of_reviews               48900 non-null  int64
 12  last review                     38848 non-null  object
 13  reviews_per_month               38848 non-null  float64
 14  calculated_host_listings_count  48900 non-null  int64
 15  availability_365                48900 non-null  int64
dtypes: float64(5), int64(5), object(6)
memory usage: 6.0+ MB

3. Data Cleaning

In [23]:
# Check for missing values
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room type                             0
price                                 0
minimum nights                        0
number_of_reviews                     0
last review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [25]:
(df.isnull().mean() * 100).round(2)

id                                 0.00
name                               0.03
host_id                            0.00
host_name                          0.04
neighbourhood group                0.00
neighbourhood                      0.00
latitude                           0.00
longitude                          0.00
room type                          0.00
price                              0.00
minimum nights                     0.00
number_of_reviews                  0.00
last review                       20.56
reviews_per_month                 20.56
calculated_host_listings_count     0.00
availability_365                   0.00
dtype: float64

In [159]:
df['last review'].sample(10)

19226    10/9/2016
34756          NaN
30616     6/3/2019
48388          NaN
43430    4/25/2019
28944    6/24/2019
26087    7/29/2018
10308    6/18/2019
31621    6/19/2019
30520     3/6/2018
Name: last review, dtype: object

In [35]:
(df['reviews_per_month'].isnull().sum()/df.shape[0] ) * 100
# (obt/total) * 100

np.float64(20.556237218813905)

In [162]:
# Fill/Drop Missing Values

df['last review'] = df['last review'].fillna('ffill') # time series

In [167]:
# Rename Columns: df.rename(columns={'old_name': 'new_name'})  
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood group',
       'neighbourhood', 'latitude', 'longitude', 'room type', 'price',
       'minimum nights', 'number_of_reviews', 'last review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [3]:
# Drop Columns: df.drop(columns=['column_name'])

4. Data Transformation

In [ ]:
# Apply function: df['column'].apply(lambda x: function(x))

In [ ]:
# Group by and aggregate: df.groupby('column').agg({'column': 'sum'})

In [7]:
# Pivot Tables: df.pivot_table(index='column1', values='column2', aggfunc='mean')

In [ ]:
#  Merge DataFrames: pd.merge(df1, df2, on='column')

In [ ]:
# Concatenate DataFrames: pd.concat([df1, df2])

5. Data Visualization

In [8]:
# Histogram: df['column'].hist()

In [9]:
# Boxplot: df.boxplot(column=['column1', 'column2'])

In [10]:
# Scatter Plot: df.plot.scatter(x='col1', y='col2')

In [12]:
# Line Plot: df.plot.line()

In [13]:
# Bar Chart: df['column'].value_counts().plot.bar()

6. Statistical Analysis

In [15]:
# Correlation Matrix: df.corr()

In [20]:
# Covariance Matrix: df.cov()

In [ ]:
# Value Counts: df['column'].value_counts()

In [ ]:
# Unique Values in Column: df['column'].unique()

In [ ]:
# Number of Unique Values: df['column'].nunique()

7. Indexing and Selection

In [ ]:
# Select Column: df['column']
# Select Multiple Columns: df[['col1', 'col2']]
# Select Rows by Position: df.iloc[0:5]
# Select Rows by Label: df.loc[0:5]
# Conditional Selection: df[df['column'] > value]

8. Data Formatting and Conversion

In [21]:
# Convert Data Types: df['column'].astype('type')
# String Operations: df['column'].str.lower()
# Datetime Conversion: pd.to_datetime(df['column'])
# Setting Index: df.set_index('column')

9. Advanced Data Transformation

In [22]:
# Lambda Functions: df.apply(lambda x: x + 1)
# Pivot Longer/Wider Format: df.melt(id_vars=['col1'])
# Stack/Unstack: df.stack(), df.unstack()
# Cross Tabulations: pd.crosstab(df['col1'], df['col2'])

10. Handling Time Series Data

In [23]:
# Set Datetime Index: df.set_index(pd.to_datetime(df['date']))
# Resampling Data: df.resample('M').mean()
# Rolling Window Operations: df.rolling(window=5).mean()

11. File to Export

In [24]:
# Write to CSV: df.to_csv('filename.csv')
# Write to Excel: df.to_excel('filename.xlsx')
# Write to SQL Database: df.to_sql('table_name', connection)

12. Data Exploration Techniques

In [25]:
# Profile Report (with pandas-profiling): from pandas_profiling import
# ProfileReport; ProfileReport(df)
# Pairplot (with seaborn): import seaborn as sns; sns.pairplot(df)
# Heatmap for Correlation (with seaborn): sns.heatmap(df.corr(), annot=True)

13. Advanced Data Queries

In [26]:
# Query Function: df.query('column > value')
# Filtering with isin: df[df['column'].isin([value1, value2])]

14. Memory Optimization

In [27]:
# Reducing Memory Usage: df.memory_usage(deep=True)
# Change Data Types to Save Memory: df['column'].astype('category')

15. Multi-Index Operations

In [28]:
# Creating MultiIndex: df.set_index(['col1', 'col2'])
# Slicing on MultiIndex: df.loc[(slice('index1_start', 'index1_end'),
# slice('index2_start', 'index2_end'))]

16. Data Merging Techniques

In [29]:
# Outer Join: pd.merge(df1, df2, on='column', how='outer')
# Inner Join: pd.merge(df1, df2, on='column', how='inner')
# Left Join: pd.merge(df1, df2, on='column', how='left')
# Right Join: pd.merge(df1, df2, on='column', how='right')

17. Dealing with Duplicates

In [ ]:
# Finding Duplicates: df.duplicated()
# Removing Duplicates: df.drop_duplicates()

18. Custom Operations with Apply

In [31]:
# Custom Apply Functions: df.apply(lambda row:
# custom_func(row['col1'], row['col2']), axis=1)

19. Handling Large Datasets

In [32]:
# Chunking Large Files: pd.read_csv('large_file.csv', chunksize=1000)
# Iterating Through Data Chunks: for chunk in pd.read_csv('file.csv', chunksize=500): process(chunk)

20. Integration with Matplotlib for Custom Plots

In [33]:
# Custom Plotting: import matplotlib.pyplot as plt; df.plot();
# plt.show()

21. Specialized Data Types Handling

In [34]:
# Working with Categorical Data: df['column'].astype('category')
# Dealing with Sparse Data: pd.arrays.SparseArray(df['column'])

22. Performance Tuning

In [35]:
# Using Swifter for Faster Apply: 
# import swifter;
# df['column'].swifter.apply(lambda x: func(x))
# Parallel Processing with Dask: import dask.dataframe as dd; ddf = dd.from_pandas(df, npartitions=10)

23. Visualization Enhancement

In [36]:
# Customize Plot Style: plt.style.use('ggplot')
# Histogram with Bins Specification: df['column'].hist(bins=20)
# Boxplot Grouped by Category: df.boxplot(column='num_column', by='cat_column')

24. Advanced Grouping and Aggregation

In [37]:
# Group by Multiple Columns: df.groupby(['col1', 'col2']).mean()
# Aggregate with Multiple Functions: df.groupby('col').agg(['mean','sum'])
# Transform Function: df.groupby('col').transform(lambda x: x - x.mean())

25. Time Series Specific Operations

In [38]:
# Time-Based Grouping: df.groupby(pd.Grouper(key='date_col', freq='M')).sum()
# Shifting Series for Lag Analysis: df['column'].shift(1)
# Resample Time Series Data: df.resample('M', on='date_col').mean()

26. Text Data Specific Operations

In [39]:
# String Contains: df[df['column'].str.contains('substring')]
# String Split: df['column'].str.split(' ', expand=True)
# Regular Expression Extraction: df['column'].str.extract(r'(regex)')

27. Data Normalization and Standardization

In [41]:
# Min-Max Normalization: (df['column'] - df['column'].min()) /(df['column'].max() - df['column'].min())
# Z-Score Standardization: (df['column'] - df['column'].mean()) /df['column'].std()

28. Working with JSON and XML

In [42]:
# Reading JSON: df = pd.read_json('filename.json')
# Reading XML: df = pd.read_xml('filename.xml')

29. Advanced File Handling

In [43]:
# Read CSV with Specific Delimiter: df = pd.read_csv('filename.csv',delimiter=';')
# Writing to JSON: df.to_json('filename.json')

30. Dealing with Missing Data

In [44]:
# Interpolate Missing Values: df['column'].interpolate()
# Forward Fill Missing Values: df['column'].ffill()
# Backward Fill Missing Values: df['column'].bfill()

31. Data Reshaping

In [45]:
# Wide to Long Format: pd.wide_to_long(df, ['col'], i='id_col', j='year')
# Long to Wide Format: df.pivot(index='id_col', columns='year',values='col')

32. Categorical Data Operations

In [46]:
# Convert Column to Categorical: df['column'] = df['column'].astype('category')
# Order Categories: df['column'].cat.set_categories(['cat1', 'cat2'], ordered=True)

33. Advanced Indexing

In [47]:
# Reset Index: df.reset_index(drop=True)
# Set Multiple Indexes: df.set_index(['col1', 'col2'])
# MultiIndex Slicing: df.xs(key='value', level='level_name')

34. Efficient Computations

In [48]:
# Use of eval() for Efficient Operations: df.eval('col1 + col2')
# Query Method for Filtering: df.query('col1 < col2')

35. Integration with SciPy and StatsModels

In [49]:
# Linear Regression (with statsmodels): import statsmodels.api as sm; sm.OLS(y, X).fit()
# Kurtosis and Skewness (with SciPy): from scipy.stats import kurtosis, skew; kurtosis(df['column']), skew(df['column'])

36. Handling Large Data Efficiently

In [50]:
# Dask Integration for Large Data: import dask.dataframe as dd; ddf = dd.from_pandas(df, npartitions=10)
# Sampling Data for Quick Insights: df.sample(n=1000)


37. Advanced Data Merging

In [51]:
# SQL-like Joins: pd.merge(df1, df2, how='left', on='col')
# Concatenating Along a Different Axis: pd.concat([df1, df2],axis=1)


38. Profiling Data for Quick Insights

In [52]:
# Using Pandas Profiling for Quick Analysis: from pandas_profiling
# import ProfileReport; report = ProfileReport(df)

39. Working with External Data Sources

In [53]:
# Reading Data from HTML: dfs = pd.read_html('http://example.com')
# Connecting to a SQL Database: from sqlalchemy import create_engine;
# engine = create_engine('sqlite:///db.sqlite'); df =
# pd.read_sql('SELECT * FROM table_name', engine)

40. Data Quality Checks

In [54]:
# Assert Statement for Data Validation: assert
# df.notnull().all().all(), "There are missing values in the dataframe"