In [1]:
import numpy as np  
import pandas as pd

In [14]:
df = pd.read_csv(r"A:\Code\PY\DSc\datasets\02-multiple-regression\big_sales_data.csv")
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDT36,12.3,Low Fat,0.111448,Baking Goods,33.4874,OUT049,1999,Medium,Tier 1,Supermarket Type1,436.608721
1,FDT36,12.3,Low Fat,0.111904,Baking Goods,33.9874,OUT017,2007,Medium,Tier 2,Supermarket Type1,443.127721
2,FDT36,12.3,LF,0.111728,Baking Goods,33.9874,OUT018,2009,Medium,Tier 3,Supermarket Type2,564.598400
3,FDT36,12.3,Low Fat,0.000000,Baking Goods,34.3874,OUT019,1985,Small,Tier 1,Grocery Store,1719.370000
4,FDP12,9.8,Regular,0.045523,Baking Goods,35.0874,OUT017,2007,Medium,Tier 2,Supermarket Type1,352.874000
...,...,...,...,...,...,...,...,...,...,...,...,...
14199,FDG47,12.8,Low Fat,0.069606,Starchy Foods,261.9252,OUT035,2004,Small,Tier 2,Supermarket Type1,4984.178800
14200,FDG47,12.8,Low Fat,0.070013,Starchy Foods,262.8252,OUT017,2007,Medium,Tier 2,Supermarket Type1,2885.577200
14201,FDG47,12.8,Low Fat,0.069561,Starchy Foods,263.0252,OUT013,1987,High,Tier 3,Supermarket Type1,2885.577200
14202,FDG47,NaN,Low Fat,0.069282,Starchy Foods,263.5252,OUT027,1985,Medium,Tier 3,Supermarket Type3,3803.676434
14203,FDG47,12.8,Low Fat,0.069727,Starchy Foods,263.6252,OUT049,1999,Medium,Tier 1,Supermarket Type1,3644.354765

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                11815 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                14204 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          14204 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.3+ MB

In [8]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,11815.000000,14204.000000,14204.000000,14204.000000,14204.000000
mean,12.788355,0.065953,141.004977,1997.830681,2185.836320
std,4.654126,0.051459,62.086938,8.371664,1827.479550
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.710000,0.027036,94.012000,1987.000000,922.135101
50%,12.500000,0.054021,142.247000,1999.000000,1768.287680
75%,16.750000,0.094037,185.855600,2004.000000,2988.110400
max,30.000000,0.328391,266.888400,2009.000000,31224.726950

In [10]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  2389
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
# Nominal + Text Normalization 
df['Item_Fat_Content'].value_counts()

Item_Fat_Content
Low Fat    8485
Regular    4824
LF          522
reg         195
low fat     178
Name: count, dtype: int64

In [ ]:
# Nominal
df['Item_Type'].value_counts()

Item_Type
Fruits and Vegetables    2013
Snack Foods              1989
Household                1548
Frozen Foods             1426
Dairy                    1136
Baking Goods             1086
Canned                   1084
Health and Hygiene        858
Meat                      736
Soft Drinks               726
Breads                    416
Hard Drinks               362
Others                    280
Starchy Foods             269
Breakfast                 186
Seafood                    89
Name: count, dtype: int64

In [ ]:
# Nominal (can be converted to oridnal on basis of need)
df['Outlet_Identifier'].value_counts()

Outlet_Identifier
OUT027    1559
OUT013    1553
OUT049    1550
OUT046    1550
OUT035    1550
OUT045    1548
OUT018    1546
OUT017    1543
OUT010     925
OUT019     880
Name: count, dtype: int64

In [ ]:
# ordinal
df['Outlet_Size'].value_counts()

Outlet_Size
Medium    7122
Small     5529
High      1553
Name: count, dtype: int64

In [ ]:
# Ordinal 
df['Outlet_Type'].value_counts()

Outlet_Type
Supermarket Type1    9294
Grocery Store        1805
Supermarket Type3    1559
Supermarket Type2    1546
Name: count, dtype: int64

In [ ]:
# Ordinal
df['Outlet_Location_Type'].value_counts()

Outlet_Location_Type
Tier 3    5583
Tier 2    4641
Tier 1    3980
Name: count, dtype: int64

In [ ]:
# Impute:Item_Weight
# Encode:   
        # Nominal: Item_Fat_Content (+ Text Normalization) , Item_Type, Outlet_Identifier; 
        # Ordinal: Outlet_Size, Outlet_Type, Outlet_Location_Type
# Scale: Item_Weight, Item_MRP, Item_Outlet_Sales, Item_Visibility

In [25]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [29]:
transformer = ColumnTransformer(transformers=[
    # ('tnf1', SimpleImputer(), ['Item_Weight']),
    ('tnf2', OneHotEncoder(drop='first'), ['Item_Type', 'Outlet_Identifier']),
    ('tnf3', OrdinalEncoder(categories=[['Small','Medium','High'],
                                        ['Supermarket Type1','Supermarket Type2','Supermarket Type3','Grocery Store'],
                                        ['Tier 1','Tier 2', 'Tier 3']]), 
                                    ['Outlet_Size','Outlet_Type','Outlet_Location_Type']),
    ('tnf4', StandardScaler(), ['Item_MRP', 'Item_Visibility']) # ,'Item_Weight' 
], remainder='passthrough')

In [30]:
X_train, X_test, y_train, y_test = train_test_split(df[['Item_Type','Outlet_Identifier','Outlet_Size',
                                                        'Outlet_Type','Outlet_Location_Type','Item_MRP','Item_Visibility','Item_Weight']], 
                                                        df['Item_Outlet_Sales'],random_state=42)

In [31]:
transformer.fit_transform(X_train)

<10653x30 sparse matrix of type '<class 'numpy.float64'>'
	with 69563 stored elements in Compressed Sparse Row format>

In [32]:
transformer.feature_names_in_

array(['Item_Type', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Type',
       'Outlet_Location_Type', 'Item_MRP', 'Item_Visibility',
       'Item_Weight'], dtype=object)

ColumnTransformer(remainder='passthrough',
                  transformers=[('tnf2', OneHotEncoder(drop='first'),
                                 ['Item_Type', 'Outlet_Identifier']),
                                ('tnf3',
                                 OrdinalEncoder(categories=[['Small', 'Medium',
                                                             'High'],
                                                            ['Supermarket '
                                                             'Type1',
                                                             'Supermarket '
                                                             'Type2',
                                                             'Supermarket '
                                                             'Type3',
                                                             'Grocery Store'],
                                                            ['Tier 1', 'Tier 2',
                                                             'Tier 3']]),
                                 ['Outlet_Size', 'Outlet_Type',
                                  'Outlet_Location_Type']),
                                ('tnf4', StandardScaler(),
                                 ['Item_MRP', 'Item_Visibility'])])